[defaults]
inventory = inventory/aws_ec2.yml
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = False
callback_result_format = yaml

[inventory]
enable_plugins = amazon.aws.aws_ec2
